- content_for :title do
  | 2015 | GeekCamp.id

= render 'jumbotron'
= render 'speakers'
= render 'schedule'
= render 'organizers'
= render 'sponsors'
= render 'media_partners'
= render 'communities'

