section.section

  header.header Location

  #map style="width:100%; height: 400px;"

javascript:
      function initMap() {
        var uluru = {lat: -6.2276003, lng: 106.7973705 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru,
          scrollwheel: false
        });

        var directionLink = "<a target='_BLANK' href='https://www.google.co.id/maps/place/Senayan+City+Mall/@-6.2276003,106.7953756,17z/data=!3m2!4b1!5s0x2e69f148610ee4a3:0xaa9043c369af5e35!4m5!3m4!1s0x2e69f1485e476a65:0x300c043104acc004!8m2!3d-6.2276003!4d106.7975643?hl=en'>Get direction</a>";
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Senayan City Mall</h1>'+
            '<div id="bodyContent">'+
            '<br><p>Jl. Asia Afrika No.Lot 19, Gelora, Tanah Abang, <br>Kota Jakarta Pusat, <br>Daerah Khusus Ibukota Jakarta 12190<br><br><b>'
            + directionLink + '</b></p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          title: "Senayan City",
          position: uluru,
          map: map
        });

        infowindow.open(map, marker);
      }

| <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnIBMuL0pzIXHWCCFuWo-wwJxKIRJqbCQ&callback=initMap"></script>

