- content_for :title do
  | GeekCamp - Indonesia's Community Tech Conference

= render '2015/jumbotron'
= render '2015/speakers'
= render '2015/schedule'
= render 'location'
= render '2015/organizers'
= render '2015/sponsors'
= render '2015/media_partners'
= render '2015/communities'

