- content_for :title do
  | GeekCamp - Indonesia's Community Tech Conference

= render '2017/jumbotron'
= render '2017/about'
= render '2017/speakers'
= render '2017/topics'
= render 'location'
= render '2017/sponsors'
= render '2017/organizers'
= render '2017/communities'
= render '2017/media_partners'
= render '2017/participate'

