- content_for :title do
  | New Talk! | GeekCamp.id

// Would be interesting to try this to make the form more native:
// https://morningstudio.com.au/blog/2013/06/how-to-style-google-forms/

iframe#cfp-form(
  src="https://docs.google.com/forms/d/e/1FAIpQLScWzsCsocMVrM5A4wh7U1I0FFjgCivHBOh2ekdIN0zZrMIuFg/viewform?embedded=true"
  width="640"
  height="1115"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
  allowtransparency="true"
)
  | Loading...

