- content_for :title do
  | Ticket | GeekCamp.id

// Would be interesting to try this to make the form more native:
// https://morningstudio.com.au/blog/2013/06/how-to-style-google-forms/

iframe#ticket-form(
  src="https://docs.google.com/forms/d/e/1FAIpQLSeZ8C0Q8QDT51IVEKUZRzMn3Uugj_GoT0xkIQkaTnvt-y3asA/viewform?embedded=true"
  width="760"
  height="1100"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
  allowtransparency="true"
)
  | Loading...

