.apps {
  padding-top: 1rem;
  background: #EC2B46 asset-url("base-header.png") repeat top center;
  background-size: contain;
  height: calc(100vh - 95px);
}

.apps__container, .apps__top {
  max-width: 1080px;
  height: 100%;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}

.apps__container-left, .apps__container-right {
  display: block;
}

.apps__container-left {
  height: 100%;
}

.apps__container-left__wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.apps__text {
  color: #FFF;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom:5px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.apps__subtext {
  color: #FFF;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.apps__logo a:not(:first-child) {
  margin-left: 20px;
}

.apps__logo-ios {
  width: 40%;
}

.apps__container-right {
  height: 100%;
  vertical-align: top;
  margin: auto;
}

.apps__phone-container {
  background: asset-url("iphone.png") no-repeat;
  background-position: 50%;
  background-size: contain;
  text-align: center;
  height: 100%;
}

.apps__phone-content {
  width: 70%;
  margin: -5px 5px 0 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 67em) {

  .apps__container, .apps__top {
    text-align: left;
  }

  .apps__container-left, .apps__container-right {
    display: inline-block;
  }

  .apps__container-left {
    width: 70%;
    padding: 2rem 3rem 0 0;
  }

  .apps__subtext {
    font-size: 1.4rem;
  }

  .apps__container-left__wrapper {
    top: 45%;
  }

  .apps__container-right {
    width: 30%;
  }

  .apps__logo-ios {
    width: 30%;

  }

  .apps__phone-content {
    width: 83%;
  }
}
