.cfp__section {
  margin: 0 auto 50px;
  padding: 0 2rem;
  max-width: 500px;
}

.cfp__section.m--center {
  text-align: center;
}

.cfp__header {
  top: auto;
  max-width: inherit;
}

ul.cfp__list {
  margin: 30px auto;
}

ul.cfp__list li {
  margin: 1rem 0;
}


