.cfp__section {
  margin: 0 auto 50px;
  padding: 0 4rem;
  max-width: 500px;
}

.cfp__section.m--center {
  text-align: center;
}

.cfp__header {
  top: auto;
  max-width: inherit;
}

ul.cfp__list {
  margin: 30px auto;
}

ul.cfp__list li {
  margin: 1rem 0;
}

#cfp-form {
  display: block;
  margin: 4rem auto 2rem;
  width: 100%;;
  height: 1000px;
}
