.i-participate {
  background: $red;
  color: $white;
}

.participate {
  overflow: hidden;
  padding: 3rem;
}

.participate__ticket,
.participate__misc {
  width: 49.5%;
  padding: 0 3rem;
  display: inline-block;
}

.participate__header {
  font-size: 2.5rem;
}

.participate__desc {
  margin: 1rem 0;
}

.participate__links {
  list-style: none;
}

.participate__link {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 2.5rem;

  a {
    color: $white;
  }

  a:hover {
    color: $white;
    text-decoration: underline;
  }
}

