.schedule {
  color: $grey_dark;
  font-size: 1.2rem;
  width: 100%;
}

.schedule__header {
  color: $grey_dark;
  font-size: 20px;
  font-weight: 600;
}

.schedule__time {
  border-top: 1px dashed $red;
  text-align: center;
  width: 100px;
}

.schedule__slot {
  padding: 5px 0 5px 15px;
  width: 45%;
}

.schedule__slot.m--empty {
  background-color: $grey_light;
  text-align: center;
}

.schedule__topic {
  display: block;
  font-weight: 600;
  text-decoration: none;

  &[href] {
    color: #1D62AE;

    &:hover {
      text-decoration: underline;
    }
  }
}

.schedule__topic.m--tbd {
  font-weight: normal;
  line-height: 3rem;
}

.schedule__image {
  border: 3px solid #D5E2E2;
  border-radius: 50%;
  float: left;
  height: 4rem;
  margin-right: 10px;
  vertical-align: middle;
}

.schedule__name {
  display: inline;
  vertical-align: middle;
}

.schedule__name.m--no-topic {
  font-weight: bold;
  line-height: 3rem;
}

