.schedule {
  color: $grey_dark;
  font-size: 1.2rem;
  width: 100%;
}

.schedule__header {
  color: $grey_dark;
  font-size: 20px;
  font-weight: 600;
}

.schedule__time {
  border-bottom: 1px dashed $red;
  text-align: center;
  width: 10rem;
}

.schedule__time.m--double {
  height: 10rem;
}

.schedule__time.m--no-border {
  border: 0;
}

.schedule__slot {
  padding: 5px 0 5px 15px;
  width: 35%;
}

.schedule__slot.m--event {
  font-weight: bold;
  background-color: $grey_light;
  text-align: center;
}

.schedule__slot.m--empty {
  background-color: $grey_light;
  text-align: center;
}

.schedule__topic {
  display: block;
  font-weight: bold;
  text-decoration: none;

}

.schedule__topic.m--tbd {
  color: $grey;
  font-weight: normal;
  line-height: 4rem;
}

.schedule__name {
  display: inline;
  padding-left: 0.5rem;
  font-weight: normal;
}

.schedule__name.m--no-topic {
  font-weight: bold;
  line-height: 4rem;
}

.schedule__media {
  display: inline-block;
  font-weight: normal;

  a[href] {
    color: #1D62AE;

    &:hover {
      text-decoration: underline;
    }
  }
}


.schedule__image {
  border: 3px solid #D5E2E2;
  border-radius: 50%;
  float: left;
  height: 4rem;
  margin-right: 10px;
  vertical-align: middle;
}

