.speaker__container {
  text-align: center;
  margin: 0 auto;

  max-width: 1080px;
  column-count: 3;
  column-gap: 2rem;
  column-fill: balance;
}

.speaker {
  display: inline-block;
  min-height: 25rem;
}


  // &--more {
  //   background-color: #EBF1F1;
  //
  //   &:after {
  //     content: "more speakers to come";
  //     display: "block";
  //     color: #999;
  //     font-size: 2.4rem;
  //     position: absolute;
  //     left: 0;
  //     top: 3.2rem;
  //   }
  // }

.speaker__image {
  position: relative;
  border: 5px solid rgba(213, 226, 226, 0.35);
  border-radius: 50%;
  width: 100%;
  max-width: 15rem;
  margin: 0 auto 1rem;
}

.speaker__name {
  font-size: 1.35rem;
  color: #EC2B46;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  line-height: 1.7rem;
  word-break: break-word;
}

.speaker__title {
  color: #8d93a0;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

@media screen and (min-width: 30em) and (max-width: 67em) {
  .speaker__container {
    column-count: 4;
  }
}

@media screen and (min-width: 67em) {
  .speaker__container {
    column-count: 5;
  }
}
