.sponsor__section {
  margin: 2rem 0;
}

ul.sponsor__opportunities {
  list-style: none;
}

li.sponsor__opportunity {
  width: 33%;
  display: inline-block;
  padding: 0 0.5rem 3rem;
  text-align: center;
  margin: auto;

  img {
    width: 100%;
    max-width: 32rem;
  }

  p {
    color: #EC2B46;
    text-transform: uppercase;
    padding-top: 1rem;
    letter-spacing: 0.2rem;
    font-size: 12px;
    font-weight: bold;
  }
}

#sponsor-form {
  display: block;
  margin: 2rem auto;
  width: 100%;
  height: 1450px;
}
