/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "schedule";

$red: #EC2B46;

html, body {
  margin: 0;
  padding: 0;
}

#menu {
  list-style: none;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;

  li {
    display: inline-block;
    margin: 0 50px;

    a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;

      &:hover {
        color: $red;
      };
    }
  }
}

#event {
  text-align: center;
  position: relative;
  top: -70px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: image-url('background.jpg');
  background-size: cover;

  .logo {
    .logo__caption {
      color: $red;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-top: 15px;
      font-size: 19px;
    }
  }

  .headline {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .date-time {
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .links {
    margin-top: 20px;
  }

  .sponsorship {
    margin-top: 10px;

    a {
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: $red;
      text-decoration: none;
      font-style: oblique;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .spike {
    background: image-url('spike.png') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-size: 500px;
  }
}

.button {
  border: 2px solid $red;
  border-radius: 5px;
  padding: 10px 20px;

  text-decoration: none;
  color: $red;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;


  &:hover {
    background-color: $red;
    color: white;
  };
}

#location {
  text-align: center;
  margin-bottom: 75px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-bottom: 1px solid $red;
  width: 400px;
  padding-bottom: 10px;
  margin: auto;
  position: relative;
  top: -40px;
  text-align: center;

  &:before {
    content: "\00b7";
    font-size: 72px;
    line-height: 0;
    color: $red;
    display: inline-block;
    position: absolute;
    left: 185px;
    top: 40px;
    z-index: 1;
  };

  &:after {
    content: "\00b7";
    font-size: 150px;
    line-height: 0;
    color: white;
    display: inline-block;
    position: absolute;
    left: 172px;
    top: 40px;
  };
}

.grid {
  margin-bottom: 50px;
}

.blank {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 25px 0;
}

.blank a {
  color: inherit;
}

#organizer {
  text-align: center;
}

#media-partners {
  text-align: center;
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}

#sponsors,
#footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

#speakers {
  text-align: center;
}

.speaker {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: inline-block;
  width: 250px;
}

.speaker--more {
  background-color: #EBF1F1;

  &:after {
    content: "more speakers to come";
    display: "block";
    color: #999;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 32px;
  }
}

.speaker__image {
  position: relative;
  border: 5px solid #D5E2E2;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.speaker__name {
  font-size: 14px;
  font-weight: bold;
}

.media-partner {
  margin-bottom: 50px;
}

.media-partner__logo  {
  vertical-align: middle;
}

.col-2 {
  width: 49%;
  font-size: 0;
  display: inline-block;
}

.section {
  margin: 0 auto;
  width: 1000px;
}

.speaker-topic {
  margin-bottom: 25px;
  text-align: left;
  vertical-align: top;
}

.speaker-topic__image {
  border: 3px solid #D5E2E2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
  margin-top: -8px;
}

.speaker-topic__name {
  margin-bottom: 2px;
}

.speaker-topic__name,
.speaker-topic__topic {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.speaker-topic__topic {
  font-weight: bold;
  color: #333;
  text-decoration: none;

  &[href] {
    color: #1D62AE;

    &:hover {
      text-decoration: underline;
    }
  }
}
.speaker-topic__topic--to-be-confirmed {
  font-weight: normal;
  font-style: oblique;
}
.speaker-topic__image--more {
  background-color: #EBF1F1;
  position: relative;

  &:after {
    color: #D5E2E2;
    display: block;
    content: "+";
    font-size: 48px;
    position: absolute;
    top: 0;
    left: 11px;
    line-height: 48px;
  }
}
.speaker-topic__name--more {
  color: #999;
  font-size: 14px;
  font-style: oblique;
  position: relative;
  top: 10px;
}

.community {
  text-align: center;
  margin-bottom: 50px;
}

.community__logo {
  vertical-align: middle;
}
