/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

$red:         #EC2B46;
$red_dark:    darken($red, 15%);

$grey:        #D5E2E2;
$grey_light:  lighten($grey, 5%);
$grey_dark:   #363636;

$white:       #FFFFFF;

@mixin transition($property, $time, $effect, $delay){
  -webkit-transition: $property $time $effect $delay;
  transition: $property $time $effect $delay;
}

@import "about";
@import "cfp";
@import "code_of_conduct";
@import "footer";
@import "jumbotron";
@import "navigation";
@import "participate";
@import "partners";
@import "schedule";
@import "speakers";
@import "sponsor";
@import "topics";
@import "apps";
@import "get_there";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 12px;
  box-sizing: border-box;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (max-width: 980px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  position: relative;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  /* for the navigation :-/ */
  padding-top: 7rem;
}

a {
  text-decoration: none;
  color: $red;
  @include transition(all, .3s, ease-out, 0s);

  &:hover,
  .hover {
    color: black
  }
}

p {
  margin-bottom: 1rem;
}

p.m--small {
  font-size: 1rem;
}

.button {
  border: 1px solid $red_dark;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem 0;

  text-decoration: none;
  color: white;
  background: $red;
  display: inline-block;

  &:hover {
    border-color: darken($red_dark, 15%);
    background: $red_dark;
    color: white;
  }
}

#location {
  text-align: center;
  margin-bottom: 75px;
}

#ticket-form {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 950px;
  margin: 4rem 0;
}

.header {
  font-size: 2.8rem;
  font-weight: bold;
  color: $red;
  text-transform: uppercase;
  padding-bottom: 1.75rem;
  border-bottom: 1px dotted $grey;
  max-width: 50%;
  margin: 2.5rem auto;
  text-align: center;
}

.header.m--small {
  font-size: 2.2rem;
}

.header.m--full {
  max-width: inherit;
}

.section {
  margin: 0 auto 10rem;
  padding: 0 1rem;
}


