<!DOCTYPE html>
<html>
<head>
  <title>GeekCamp 2015 - The Biggest Tech-Savvy Conference in Indonesia</title>
  <link rel="canonical" href="http://www.geekcamp.id/" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
